/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Seção principal */
section {
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
    text-align: center;
}

/* Cabeçalho */
header .logo {
    max-width: 80px;
}

/* Caixa de texto */
.text-box h2 {
    color: #333;
    font-size: 3em;
    font-weight: 500;
}

.text-box h2 span {
    color: #017143;
    font-size: 1.2em;
    font-weight: 900;
}

.text-box p {
    color: #333;
}

.text-box a {
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: #017143;
    color: #fff;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
}

/* Caixa de imagem */
.img-box img {
    max-width: 340px;
}

/* Miniaturas */
.list-inline-item img {
    max-width: 80px;
    cursor: pointer;
    transition: 0.5s;
}

.list-inline-item img:hover {
    transform: translateY(-10px);
}

/* Ícones sociais */
.list-inline a img {
    max-width: 40px;
    filter: invert(1);
}

/* Estilização do círculo */
.circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #017143;
    clip-path: circle(600px at right 800px);
    z-index: -1;
}
